<div class="profileBox">
    <img src="https://img.icons8.com/ios/150/000000/administrator-male--v1.png"/>
    <h1>Name : <%= one.name %> </h1>
    <h2>Roll No. : <%= one.roll %> </h2>
</div>
<div class="stuTable">
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subject Name</th>
          <th scope="col">Score (?/100)</th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>English</td>
          <td><%= one.english %> </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Maths</td>
          <td><%= one.math %> </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Science</td>
          <td><%= one.science %> </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Social Studies</td>
          <td><%= one.ss %> </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Language</td>
          <td><%= one.lang %> </td>
        </tr>
      </tbody>
    </table>
    <h1 style="text-align: center;">Status : <%= one.status %> </h1>
  </div>
  
</div>
<div class="container">

  <button id="btn" onclick=window.print()>Download Result</button>
  <style>
    #btn{
      border-radius: 0px;
    margin-left: 372px;
    top: 45px;
    background-color: #8a27aa;
    color: white;
    margin: 534px;
      width:153px;
    }
    .container{
      bottom: -621px;
    position: absolute;
    top: 175px;
    right: 190px;    }


    </style>
    </div>
